# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [96]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources\city_data.csv"
ride_data_to_load = "Resources\\ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

display(city_data_df.head())
display(ride_data_df.head())

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

### Merge the DataFrames

In [6]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [115]:
city_data_df.groupby(["type"])

In [112]:
# 1. Get the total rides for each city type
label='ride_id'
df=pyber_data_df.groupby(["type"]).count()[label]
urban_ride_count = df['Urban']
suburban_ride_count = df['Suburban']
rural_ride_count = df['Rural']
total_rides_by_type=(rural_ride_count,suburban_ride_count,urban_ride_count)
print(f"(Rural, Suburban, Urban) total rides = {total_rides_by_type}")

# 2. Get the total drivers for each city type
label='driver_count'
df=city_data_df.groupby(["type"]).sum()[label]
urban_driver_count = df['Urban']
suburban_driver_count = df['Suburban']
rural_driver_count = df['Rural']
drivers_by_type=(rural_driver_count,suburban_driver_count,urban_driver_count)
print(f"(Rural, Suburban, Urban) drivers = {drivers_by_type}")

#  3. Get the total amount of fares for each city type
label='fare'
df=pyber_data_df.groupby(["type"]).sum()[label]
urban_fare_total = df['Urban']
suburban_fare_total = df['Suburban']
rural_fare_total = df['Rural']
fare_total_by_type=(rural_fare_total,suburban_fare_total,urban_fare_total)
print(f"(Rural, Suburban, Urban) fare totals = {fare_total_by_type}")

#  4. Get the average fare per ride for each city type. 
urban_fare_avg=(urban_fare_total*1.0) / urban_ride_count
suburban_fare_avg=suburban_fare_total / suburban_ride_count
rural_fare_avg=rural_fare_total / rural_ride_count
fare_avg_by_type=(rural_fare_avg,suburban_fare_avg,urban_fare_avg)
print(f"(Rural, Suburban, Urban) fare avgs = {fare_avg_by_type}")

# 5. Get the average fare per driver for each city type. 
urban_fare_perDriver=(urban_fare_total*1.0) / urban_driver_count
suburban_fare_perDriver=(suburban_fare_total*1.0) / suburban_driver_count
rural_fare_perDriver=(rural_fare_total*1.0) / rural_driver_count
fare_avg_by_type_perDriver=(rural_fare_perDriver,suburban_fare_perDriver,urban_fare_perDriver)
print(f"(Rural, Suburban, Urban) fare per Driver = {fare_avg_by_type_perDriver}")

(Rural, Suburban, Urban) total rides = (125, 625, 1625)
(Rural, Suburban, Urban) drivers = (78, 490, 2405)
(Rural, Suburban, Urban) fare totals = (4327.930000000002, 19356.330000000013, 39854.380000000085)
(Rural, Suburban, Urban) fare avgs = (34.623440000000016, 30.97012800000002, 24.52577230769236)
(Rural, Suburban, Urban) fare per Driver = (55.48628205128208, 39.50271428571431, 16.57146777546781)

In [130]:
# 6. Create data frame
pyber_summary_df=pd.DataFrame()
pyber_summary_df['type']=('Rural','Suburban','Urban')
pyber_summary_df['Total Rides']=total_rides_by_type
pyber_summary_df['Total Drivers']=drivers_by_type
pyber_summary_df['Total Fares']=fare_total_by_type
pyber_summary_df['Average Fare per Ride']=fare_avg_by_type
pyber_summary_df['Average Fare per Driver']=fare_avg_by_type_perDriver

#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

#  8. Format the columns.
columns=('Total Fares','Average Fare per Ride','Average Fare per Driver')
for column in columns:
    pyber_summary_df[column]=pyber_summary_df[column].map("${:.2f}".format)

pyber_summary_df

,type,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,Rural,125,78,$4327.93,$34.62,$55.49
1,Suburban,625,490,$19356.33,$30.97,$39.50
2,Urban,1625,2405,$39854.38,$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')